<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}
    <script>
        (function() {
            var today = new Date();
            var markDay = new Date(2016, 2-1, 5, today.getHours(), today.getMinutes(), today.getSeconds(), today.getMilliseconds());
            var markValue = 0;
            var todayValue = (today - markDay) / (24 * 60 * 60 * 1000) % 2 ^ markValue;
            window.document.getElementById('family').style.color = todayValue ? '#0000ff' : '#ff0000';
        }());
    </script>
  </body>

</html>
